<!-- base.html file for SetList app -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SetList App</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
</head>

<body>

    <div class="navbar navbar-light bg-primary">
        <div class="container">
            <div class="navbar-brand"><a class="text-white" href="/">SetLists</a></div>

            {% if current_user.is_authenticated %}
            <div>
                <a class="text-white" href="{{ url_for('logout') }}">Logout</a>
            </div>
            {% endif %}

            <div>
                <a class="text-white" href="{{ url_for('view_setlists') }}">Home</a>

                <!-- Add more navigation links as needed -->
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 2em">
        {% for msg in get_flashed_messages() %}
        <div class="alert alert-danger">{{ msg }}</div>
        {% endfor %}
    </div>

    {% block content %}
    {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>