
{% extends "base.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
</head>

<h1>Sign Up</h1>

<form action="/signup" method="POST">
    
    <label for="username">Username</label>
    <input type="text" name="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" required>
    <button type="submit">Sign Up</button>
</form>
<a href="{{ url_for('login') }}">Login</a>
{% endblock %}