<!-- homepage: redirect from ('/') -->
{% extends 'base.html' %}

{% block content %}

<h1>Your Setlists</h1>

<!-- Display existing setlists as clickable links  -->
<ul>
    {% for setlist in setlists %}
    <li><a href="{{ url_for('view_setlist', setlist_id=setlist.id) }}">{{ setlist.name }}</a></li>
    {% endfor %}
</ul>


<h2>Create a New Setlist</h2>
<form method="POST" action="{{ url_for('create_setlist') }}" >
    {{ form.hidden_tag() }}
    <div>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}<br>
        {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
   
    <div>
        <button type="submit">Create Setlist</button>
    </div>
</form>



{% endblock %}





